In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
type(s)

pandas.core.series.Series

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
type(dates)

pandas.tseries.index.DatetimeIndex

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [10]:
df

                   A         B         C         D
2013-01-01  0.772978  0.107094 -1.284413  2.473692
2013-01-02 -0.945205 -0.773349  1.650512  0.877444
2013-01-03 -0.079505  0.526033  0.646445  2.350803
2013-01-04 -1.730371  0.381584 -0.482926  0.655049
2013-01-05  0.591876 -0.429762  1.409318 -1.220153
2013-01-06 -0.728327 -1.503861 -1.758396 -0.581037

In [13]:
df2 = pd.DataFrame({ 'A' : 1.,
                        'B' : pd.Timestamp('20130102'),
                        'C' : pd.Series(1,index=list(range(6)),dtype='float32'),
                       'D' : np.array([3] * 6,dtype='int32'),
                       'E' : pd.Categorical(["test","train","test","train","twee","drie" ]),
                        'F' : 'foo' })

In [14]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
4  1.0 2013-01-02  1.0  3   twee  foo
5  1.0 2013-01-02  1.0  3   drie  foo

In [16]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [17]:
df.head()

                   A         B         C         D
2013-01-01  0.772978  0.107094 -1.284413  2.473692
2013-01-02 -0.945205 -0.773349  1.650512  0.877444
2013-01-03 -0.079505  0.526033  0.646445  2.350803
2013-01-04 -1.730371  0.381584 -0.482926  0.655049
2013-01-05  0.591876 -0.429762  1.409318 -1.220153

In [18]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.730371  0.381584 -0.482926  0.655049
2013-01-05  0.591876 -0.429762  1.409318 -1.220153
2013-01-06 -0.728327 -1.503861 -1.758396 -0.581037

In [19]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [21]:
df.A

2013-01-01    0.772978
2013-01-02   -0.945205
2013-01-03   -0.079505
2013-01-04   -1.730371
2013-01-05    0.591876
2013-01-06   -0.728327
Freq: D, Name: A, dtype: float64

In [22]:
df.values

array([[ 0.77297835,  0.10709421, -1.28441265,  2.47369193],
       [-0.94520456, -0.77334914,  1.65051226,  0.87744376],
       [-0.07950529,  0.52603274,  0.64644461,  2.35080274],
       [-1.73037054,  0.38158362, -0.48292561,  0.65504924],
       [ 0.59187636, -0.42976246,  1.40931847, -1.22015305],
       [-0.72832746, -1.503861  , -1.75839642, -0.5810371 ]])

In [23]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.353092 -0.282044  0.030090  0.759300
std    0.961680  0.774707  1.421106  1.497437
min   -1.730371 -1.503861 -1.758396 -1.220153
25%   -0.890985 -0.687452 -1.084041 -0.272016
50%   -0.403916 -0.161334  0.081760  0.766246
75%    0.424031  0.312961  1.218600  1.982463
max    0.772978  0.526033  1.650512  2.473692

In [24]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.772978   -0.945205   -0.079505   -1.730371    0.591876   -0.728327
B    0.107094   -0.773349    0.526033    0.381584   -0.429762   -1.503861
C   -1.284413    1.650512    0.646445   -0.482926    1.409318   -1.758396
D    2.473692    0.877444    2.350803    0.655049   -1.220153   -0.581037

In [25]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  2.473692 -1.284413  0.107094  0.772978
2013-01-02  0.877444  1.650512 -0.773349 -0.945205
2013-01-03  2.350803  0.646445  0.526033 -0.079505
2013-01-04  0.655049 -0.482926  0.381584 -1.730371
2013-01-05 -1.220153  1.409318 -0.429762  0.591876
2013-01-06 -0.581037 -1.758396 -1.503861 -0.728327

In [26]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06 -0.728327 -1.503861 -1.758396 -0.581037
2013-01-02 -0.945205 -0.773349  1.650512  0.877444
2013-01-05  0.591876 -0.429762  1.409318 -1.220153
2013-01-01  0.772978  0.107094 -1.284413  2.473692
2013-01-04 -1.730371  0.381584 -0.482926  0.655049
2013-01-03 -0.079505  0.526033  0.646445  2.350803

In [27]:
df[0:3]

                   A         B         C         D
2013-01-01  0.772978  0.107094 -1.284413  2.473692
2013-01-02 -0.945205 -0.773349  1.650512  0.877444
2013-01-03 -0.079505  0.526033  0.646445  2.350803

In [28]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.945205 -0.773349  1.650512  0.877444
2013-01-03 -0.079505  0.526033  0.646445  2.350803
2013-01-04 -1.730371  0.381584 -0.482926  0.655049

In [29]:
df.loc[dates[0]]
#selecteert eerste rij

A    0.772978
B    0.107094
C   -1.284413
D    2.473692
Name: 2013-01-01 00:00:00, dtype: float64

In [30]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.772978  0.107094
2013-01-02 -0.945205 -0.773349
2013-01-03 -0.079505  0.526033
2013-01-04 -1.730371  0.381584
2013-01-05  0.591876 -0.429762
2013-01-06 -0.728327 -1.503861

In [35]:
df.loc[dates[:],['A','B']]

                   A         B
2013-01-01  0.772978  0.107094
2013-01-02 -0.945205 -0.773349
2013-01-03 -0.079505  0.526033
2013-01-04 -1.730371  0.381584
2013-01-05  0.591876 -0.429762
2013-01-06 -0.728327 -1.503861

In [36]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.945205 -0.773349
2013-01-03 -0.079505  0.526033
2013-01-04 -1.730371  0.381584

In [37]:
df.loc['20130102',['A','B']]

A   -0.945205
B   -0.773349
Name: 2013-01-02 00:00:00, dtype: float64

In [38]:
df.at[dates[0],'A']

0.77297835012806482

In [39]:
df.iloc[3]

A   -1.730371
B    0.381584
C   -0.482926
D    0.655049
Name: 2013-01-04 00:00:00, dtype: float64

In [40]:
df.iloc[0]

A    0.772978
B    0.107094
C   -1.284413
D    2.473692
Name: 2013-01-01 00:00:00, dtype: float64

In [41]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -1.730371  0.381584
2013-01-05  0.591876 -0.429762

In [42]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.945205  1.650512
2013-01-03 -0.079505  0.646445
2013-01-05  0.591876  1.409318

In [43]:
df.iloc[1:3,:]
#alle kolommen van regels 1 tot en met 2 (dus niet inclusief de eindwaarde (net zoals range))

                   A         B         C         D
2013-01-02 -0.945205 -0.773349  1.650512  0.877444
2013-01-03 -0.079505  0.526033  0.646445  2.350803

In [44]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.107094 -1.284413
2013-01-02 -0.773349  1.650512
2013-01-03  0.526033  0.646445
2013-01-04  0.381584 -0.482926
2013-01-05 -0.429762  1.409318
2013-01-06 -1.503861 -1.758396

In [45]:
df.iloc[1,1]

-0.7733491414453636

In [46]:
df.iat[1,1]
#deze methode is sneller dan bovenstaande

-0.7733491414453636

In [47]:
df[df.A > 0]
#Alles uit het dataframe waarbij de waarden in de A kolom groter dan 0 zijn.

                   A         B         C         D
2013-01-01  0.772978  0.107094 -1.284413  2.473692
2013-01-05  0.591876 -0.429762  1.409318 -1.220153

In [48]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.772978  0.107094       NaN  2.473692
2013-01-02       NaN       NaN  1.650512  0.877444
2013-01-03       NaN  0.526033  0.646445  2.350803
2013-01-04       NaN  0.381584       NaN  0.655049
2013-01-05  0.591876       NaN  1.409318       NaN
2013-01-06       NaN       NaN       NaN       NaN

In [49]:
df3 = df.copy()

In [50]:
df3['E'] = ['one', 'one','two','three','four','three']

In [51]:
df3

                   A         B         C         D      E
2013-01-01  0.772978  0.107094 -1.284413  2.473692    one
2013-01-02 -0.945205 -0.773349  1.650512  0.877444    one
2013-01-03 -0.079505  0.526033  0.646445  2.350803    two
2013-01-04 -1.730371  0.381584 -0.482926  0.655049  three
2013-01-05  0.591876 -0.429762  1.409318 -1.220153   four
2013-01-06 -0.728327 -1.503861 -1.758396 -0.581037  three

In [52]:
df3[df3['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03 -0.079505  0.526033  0.646445  2.350803   two
2013-01-05  0.591876 -0.429762  1.409318 -1.220153  four

In [53]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

In [54]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [55]:
df['F'] = s1

In [56]:
df

                   A         B         C         D    F
2013-01-01  0.772978  0.107094 -1.284413  2.473692  NaN
2013-01-02 -0.945205 -0.773349  1.650512  0.877444  1.0
2013-01-03 -0.079505  0.526033  0.646445  2.350803  2.0
2013-01-04 -1.730371  0.381584 -0.482926  0.655049  3.0
2013-01-05  0.591876 -0.429762  1.409318 -1.220153  4.0
2013-01-06 -0.728327 -1.503861 -1.758396 -0.581037  5.0

In [57]:
df.at[dates[0],'A'] = 0

In [58]:
df

                   A         B         C         D    F
2013-01-01  0.000000  0.107094 -1.284413  2.473692  NaN
2013-01-02 -0.945205 -0.773349  1.650512  0.877444  1.0
2013-01-03 -0.079505  0.526033  0.646445  2.350803  2.0
2013-01-04 -1.730371  0.381584 -0.482926  0.655049  3.0
2013-01-05  0.591876 -0.429762  1.409318 -1.220153  4.0
2013-01-06 -0.728327 -1.503861 -1.758396 -0.581037  5.0

In [59]:
df.iat[0,1] = 0

In [60]:
df

                   A         B         C         D    F
2013-01-01  0.000000  0.000000 -1.284413  2.473692  NaN
2013-01-02 -0.945205 -0.773349  1.650512  0.877444  1.0
2013-01-03 -0.079505  0.526033  0.646445  2.350803  2.0
2013-01-04 -1.730371  0.381584 -0.482926  0.655049  3.0
2013-01-05  0.591876 -0.429762  1.409318 -1.220153  4.0
2013-01-06 -0.728327 -1.503861 -1.758396 -0.581037  5.0

In [61]:
df.loc[:,'D'] = np.array([5] * len(df))

In [62]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -1.284413  5  NaN
2013-01-02 -0.945205 -0.773349  1.650512  5  1.0
2013-01-03 -0.079505  0.526033  0.646445  5  2.0
2013-01-04 -1.730371  0.381584 -0.482926  5  3.0
2013-01-05  0.591876 -0.429762  1.409318  5  4.0
2013-01-06 -0.728327 -1.503861 -1.758396  5  5.0

In [63]:
df2 = df.copy()

In [64]:
df2[df2 > 0] = -df2

In [65]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -1.284413 -5  NaN
2013-01-02 -0.945205 -0.773349 -1.650512 -5 -1.0
2013-01-03 -0.079505 -0.526033 -0.646445 -5 -2.0
2013-01-04 -1.730371 -0.381584 -0.482926 -5 -3.0
2013-01-05 -0.591876 -0.429762 -1.409318 -5 -4.0
2013-01-06 -0.728327 -1.503861 -1.758396 -5 -5.0

In [66]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [67]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [68]:
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -1.284413  5  NaN  1.0
2013-01-02 -0.945205 -0.773349  1.650512  5  1.0  1.0
2013-01-03 -0.079505  0.526033  0.646445  5  2.0  NaN
2013-01-04 -1.730371  0.381584 -0.482926  5  3.0  NaN

In [69]:
df1.dropna(how='any')

                   A         B         C  D    F    E
2013-01-02 -0.945205 -0.773349  1.650512  5  1.0  1.0

In [70]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -1.284413  5  5.0  1.0
2013-01-02 -0.945205 -0.773349  1.650512  5  1.0  1.0
2013-01-03 -0.079505  0.526033  0.646445  5  2.0  5.0
2013-01-04 -1.730371  0.381584 -0.482926  5  3.0  5.0

In [71]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [72]:
df.mean()

A   -0.481922
B   -0.299893
C    0.030090
D    5.000000
F    3.000000
dtype: float64

In [73]:
df.mean(1)

2013-01-01    0.928897
2013-01-02    1.186392
2013-01-03    1.618594
2013-01-04    1.233657
2013-01-05    2.114286
2013-01-06    1.201883
Freq: D, dtype: float64

In [74]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [75]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [76]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -1.079505 -0.473967 -0.353555  4.0  1.0
2013-01-04 -4.730371 -2.618416 -3.482926  2.0  0.0
2013-01-05 -4.408124 -5.429762 -3.590682  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

In [77]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000 -1.284413   5   NaN
2013-01-02 -0.945205 -0.773349  0.366100  10   1.0
2013-01-03 -1.024710 -0.247316  1.012544  15   3.0
2013-01-04 -2.755080  0.134267  0.529619  20   6.0
2013-01-05 -2.163204 -0.295495  1.938937  25  10.0
2013-01-06 -2.891531 -1.799356  0.180541  30  15.0

In [78]:
df.apply(lambda x: x.max() - x.min())

A    2.322247
B    2.029894
C    3.408909
D    0.000000
F    4.000000
dtype: float64

In [79]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [80]:
s

0    5
1    6
2    0
3    2
4    0
5    0
6    1
7    5
8    5
9    4
dtype: int32

In [81]:
s.value_counts()

5    3
0    3
6    1
4    1
2    1
1    1
dtype: int64

In [82]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [83]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [84]:
df = pd.DataFrame(np.random.randn(10, 4))

In [85]:
df

          0         1         2         3
0 -0.542461 -0.037923  0.841073 -1.060817
1 -0.337867 -0.671840 -1.286220 -1.541595
2 -0.379539  1.259969  0.700271 -0.323293
3  1.441483 -0.456839 -1.710657 -1.964745
4 -0.193444 -0.485103 -0.946346  0.255595
5 -1.302588 -0.680864  0.302841  0.114571
6 -0.341385 -0.317353 -1.060061 -1.099953
7 -1.448858  0.362690  0.797421  0.008837
8  1.194049 -0.220273 -0.724439  0.699812
9  1.212893 -0.484196 -1.843163  0.283953

In [86]:
pieces = [df[:3], df[3:7], df[7:]]

In [87]:
pieces

[          0         1         2         3
 0 -0.542461 -0.037923  0.841073 -1.060817
 1 -0.337867 -0.671840 -1.286220 -1.541595
 2 -0.379539  1.259969  0.700271 -0.323293,
           0         1         2         3
 3  1.441483 -0.456839 -1.710657 -1.964745
 4 -0.193444 -0.485103 -0.946346  0.255595
 5 -1.302588 -0.680864  0.302841  0.114571
 6 -0.341385 -0.317353 -1.060061 -1.099953,
           0         1         2         3
 7 -1.448858  0.362690  0.797421  0.008837
 8  1.194049 -0.220273 -0.724439  0.699812
 9  1.212893 -0.484196 -1.843163  0.283953]

In [88]:
type(pieces)

list

In [89]:
pd.concat(pieces)
#list naar DataFrame

          0         1         2         3
0 -0.542461 -0.037923  0.841073 -1.060817
1 -0.337867 -0.671840 -1.286220 -1.541595
2 -0.379539  1.259969  0.700271 -0.323293
3  1.441483 -0.456839 -1.710657 -1.964745
4 -0.193444 -0.485103 -0.946346  0.255595
5 -1.302588 -0.680864  0.302841  0.114571
6 -0.341385 -0.317353 -1.060061 -1.099953
7 -1.448858  0.362690  0.797421  0.008837
8  1.194049 -0.220273 -0.724439  0.699812
9  1.212893 -0.484196 -1.843163  0.283953